html {
  height: 100%;
}

body {
  background-color: #006600;
  color: #d8d0a2;
  height: 100%;
}

h1 {
  font-size: 70px;
}

form {
  font-size: 15px;
  font-weight: bold;
}

input {
  color: black;
}

button {
  color: black;
}

.header {
  font-family: "Sunflower", sans-serif;
}
.zone {
  height: 100px;
  width: 75px;
  border: 1px solid Bisque;
  position: absolute;
}

#image {
  height: 50%;
  width: 50%;
}

#game-board {
  position: relative;
  width: 900px;
  height: 700px;
  left: 8%;
  max-width: 900px;
  min-width: 500px;
}

#directions-container {
  position: relative;
  top: 90%;
  left: 65%;
  color: Bisque;
}

#landing-page-container {
  position: fixed;
  left: 19%;
  top: 50px;
  /* border: solid 1px white; */
  width: 700px;
  height: 500px;
  max-width: 700px;
  min-width: 500px;
}

#landing-page-heading {
  position: relative;
  left: 33%;
  color: Bisque;
  font-size: 100px;
}

#player1-play-area {
  top: 299px;
  left: 60%;
  background-size: cover;
}

#player2-play-area {
  top: 300px;
  left: 34%;
  background-size: cover;
}

#player1-hand {
  top: 565px;
  left: 47%;
  background-size: cover;
}

#player2-hand {
  top: 35px;
  left: 47%;
  background-size: cover;
}

#deck-area {
  left: 47%;
  top: 300px;
  background-size: cover;
}

#p1-deck-count {
  font-size: 30px;
  position: relative;
  color: Bisque;
  left: -75px;
  top: -60px;
}

#p2-deck-count {
  font-size: 30px;
  position: relative;
  color: Bisque;
  left: -75px;
  top: -60px;
}

#you-win {
  position: relative;
  color: Bisque;
  left: 28%;
  top: 280px;
  font-size: 100px;
}

#you-lose {
  position: relative;
  color: Bisque;
  left: 24%;
  top: 280px;
  font-size: 100px;
}

#war-state-alert {
  position: absolute;
  color: Bisque;
  left: -10%;
  top: 120px;
  color: DarkOliveGreen;
  text-shadow: white 1px 0 10px;
}
@media only screen and (max-width: 960px) {
  form,
  input,
  button {
    position: relative;
    right: 70px;
  }

  .header {
    position: relative;
    right: 70px;
  }

  #image {
    position: relative;
    right: 70px;
  }

  #game-board {
    position: fixed;
    max-width: 600px;
    min-width: 400px;
    max-height: 400px;
    min-height: 300px;
    left: 12%;
  }
  #player1-play-area {
    position: relative;
    left: 70%;
  }
  #player2-play-area {
    position: relative;
    left: 24%;
    top: 199px;
  }
  #player1-hand {
    top: 425px;
    left: 47%;
    background-size: cover;
  }

  #player2-hand {
    top: 175px;
    left: 47%;
    background-size: cover;
  }
  #p1-deck-count {
    font-size: 25px;
    position: relative;
    color: Bisque;
    left: -10%;
    top: -55%;
  }

  #p2-deck-count {
    font-size: 25px;
    position: relative;
    color: Bisque;
    left: -10%;
    top: -58%;
  }
  #dogs-playing-poker {
    position: absolute;
    height: 40%;
    width: 40%;
    top: 45%;
    left: 34%;
  }
  #directions-container {
    position: relative;
    top: 95%;
    left: 30%;
    color: Bisque;
  }
  #you-win {
    position: relative;
    color: Bisque;
    left: 28%;
    top: 10%;
    font-size: 50px;
  }

  #you-lose {
    position: relative;
    color: Bisque;
    left: 24%;
    top: 10%;
    font-size: 50px;
  }
}
@media only screen and (max-width: 640px) {
  form,
  input,
  button {
    position: relative;
    right: 140px;
  }

  .header {
    position: relative;
    right: 140px;
  }

  #image {
    position: relative;
    right: 140px;
  }

  #game-board {
    position: relative;
    height: 100px;
    width: 300px;
    max-height: 100px;
    max-width: 300px;
    top: -70px;
    left: 70px;
  }
  #player1-play-area {
    position: relative;
    left: 80%;
  }
  #player2-play-area {
    position: relative;
    left: 14%;
  }
  #p1-deck-count {
    font-size: 20px;
    position: relative;
    color: Bisque;
    left: -15%;
    top: -60%;
  }

  #p2-deck-count {
    font-size: 20px;
    position: relative;
    color: Bisque;
    left: -15%;
    top: -65%;
  }
  #directions-container {
    position: relative;
    font-size: 15px;
    top: 150%;
    left: 20%;
    color: Bisque;
  }
  #war-state-alert,
  #you-lose,
  #you-win {
    position: absolute;
    top: 20%;
    right: 10%;
  }
}
